*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left{
    font-size: large;
    margin-right: auto;
    font-weight: bold;
    color: black;
    width: 100%;
    color: white;
    padding: 0 5px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    background-color: midnightblue;

}
.result-dev{
    text-align: center;
}
.result-dev h2{
    margin: 10px 0;
}