* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}

.list-cont{
    display: flex;
    justify-content: space-around;
    text-align: center;align-items: center;

}
.list-cont li{
    margin: 0 10px;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}
.landing-text{
    background-color: rgb(214, 214, 214);
    margin:0.5em;
    padding: 0 20px;
    width: 50%;
    text-align: center;
    align-content: center;
    height: 100%;
    line-height: 30px;
}
.landing-text span{
   font-size: larger;
   font-weight: bold;
   color: midnightblue;
   line-height: 6em;
}
.vote{
    width: 100%;
    height: 100%;
    
}

.home{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}
.profile-home-page{
    flex: 1 ;
    min-width: 200px;
    max-width: 500px;
    background-color: white;
    padding: 20px;
   margin-top: 10em;
    border-radius: 8px;
    flex-basis: 45%;
    -webkit-box-shadow: 4px 7px 16px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 16px -2px rgba(0,0,0,0.75);
     box-shadow: 4px 7px 16px -2px rgba(0,0,0,0.75);
}

#vx-box{
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    border: 3px solid midnightblue;
    margin: 5em 1em;
}
.vx-list{
    margin: 3em;
    text-align: center;
    border-radius: 17px;
    padding: 0.3em ;
    background-color: rgb(235, 236, 236);
    text-align: left;
}
.vx-list-ul{
    list-style-type: none;
    /* text-align: center; */
    line-height: 2.5em;
    margin-left: auto;
    margin-right: auto;
}
.vx-list-ul li span{
    font-weight: bold;
}
ul a{
    color: rgb(245, 242, 242);
    text-decoration: none;
    text-transform: capitalize;
}
.vx-meaning {
    padding-top: 2em;
    font-weight: bold;
    text-transform: uppercase;
   text-align: center; 
}
.vx-list{
    padding: 2em;
    line-height: 2em;
}
.sponsorship{
    background-color: whitesmoke;
    margin: 0 2em;
    border-radius: 7px;
    padding: 1em 0;
    
}
.sponsorship h2{
    padding-top: 1em;
}
.sponsorship-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 2em;
}
.sponsorship-box img{
    height: 150px;
    width: 100%;
    padding: 0 10px;

   
}
.sponsor{
   
    text-transform: capitalize;
    font-family: roboto;
    border-bottom: 3px solid black;
    width: fit-content;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}



@media only screen and (max-width: 600px) {
.landing-text{
    width: 100%;
}
.home{
    display: block;
}
.profile-home-page{
    margin-left: auto;
    margin-right: auto;

}
.sponsorship-box img{
     width: 80%;
     height:70px ;
}
}


