* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

nav {
  background-color: midnightblue;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-container {
  margin-bottom: 2em;
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  height: 60px;
  margin-right: 2em;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.list-cont {
  display: flex;
  align-items: center;
}

.list-cont li {
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}

.countdown {
  display: flex;
  margin-top: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-icon {
  display: none;
}

.list-cont.open {
  display: flex;
}
.list-cont li:hover{
  background-color: rgb(207, 41, 41);
  border-radius: 7px;
  color:white;
  padding: 2px;
}

@media (max-width: 600px) {
  nav ul .list-cont.open{
    display: none;
  }
  .list-cont { 
    display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 10px;
      background-color: midnightblue;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 10px;
      border-radius: 5px;
      height: 30vh;
      z-index: 1;
  }
  
  .list-cont.open {
      display: none; 
  }
  .list-cont li:hover{
    background-color: rgb(207, 41, 41);
    border-radius: 7px;
    color:white;
    padding: 2px;
  }
  
  .menu-icon {
      display: block;
      cursor: pointer;
      font-size: xx-large;
  }
  .countdown{
    position: absolute;
    top: 25px;
    
  }
}
